.user-info__content {
  width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: left;
}

.user-info__item {
  float: left;
}

.user-info__edit {
  text-align: center;
}

.user-info__likes {
  margin: 1rem auto;
  width: 40rem;
}

@media (max-width: 768px) {
  .user-info__content,
  .user-info__likes {
    max-width: 40 rem;
    width: 90%;
    margin: 1rem auto;
  }
}
